.robo{
    margin-left: 300;
    margin-bottom: 30;
    margin-right: 200;
}
.whole{
    margin-left: 85px;
    margin-right: 45px;
    background-color: pink;
}
.whole2{
    padding-left: 5;
    background-color: white;
}
